body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-size: cover;
    background-color: #797979;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.form-container {
    max-width: 350px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}
.form-container img{
    max-width: 500px;
    height: auto;
}

footer {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer img {
    width: 30px;
    height: auto;
    
}

/* Animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Responsive styles */
@media (max-width: 600px) {
    header {
        font-size: 18px;
    }

    .form-container {
        padding: 10px;
    }

    footer img {
        width: 50px; /* Larger size for mobile */
    }
}